<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/icon.png">
    <title>404</title>
</head>
<body>
    <div class="main-content">
        {{> header}}
        <p>{{errormesage}}</p>
        <img src="/img/404.png" alt="">
    </div>
    {{> footer}}
</body>
</html>