<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cotações</title>
</head>
<body>
    <div class="main-content">
        {{> header}}

        <p>Procure por um ativo</p>

        <form action="">
            <input type="text" placeholder="Código do ativo">
            <button>Buscar</button>
        </form>

        <h3></h3>
        <p id="price"></p>
        <p id="price_open"></p>
        <p id="day_high"></p>
        <p id="day_low"></p>
    </div>
    
    {{> footer}}
</body>
<script src="/js/app.js"></script>
</html>